.box {
  display: flex;
    border-radius: 15px;
    background-color: #80B5D5;
    width: 28vw;
    height: 20vh;
    padding: 4vh 2vw;
  }
  #icon {
    width: auto;
    height: 12vh;
 
  }
  #count {
    font-weight: 600;
    font-size: 3rem;
    color: white;
    width: 0.1vw;
  }
  #stat {
    color: white;
    font-weight: 600;
  }
  .impact-text {
    margin-left:2vw;
    /* margin-top: 1.5vh; */
  }