/* DEFAULT TAGS */
.row {
  margin-right: 0px;
}
a {
  color: #00B04F;
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

/* LANDING SECTION */

#landing {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  margin-top: 10vh;
  text-align: center;
}

#logo {
  width: 12em;
  margin-top: 15px;
}

.add-button {
  background-color: #00B04F;
  border-color: #00B04F;
  font-size: 1em;
}

.add-button:hover {
  background-color: #ffffff;
  border-color: #00B04F;
  color: #00B04F;
}

/* HOW IT WORKS SECTION */

#how-it-works {
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}



/* AFFILIATE STORES SECTION */

#affiliate-stores {
  background-color: #EAF6FA;
  height: 40vh;
  text-align: center;
}

/* WHY ECOCART SECTION */
#why-ecocart {
  background-color: #EAF6FA;
  height: 80vh;
  text-align: center;
}



/* IMPACT/PROJECTS SECTION */
#impact {
  background-color: white;
  height: auto;
}





/* TESTIMONIAL SECTION */

#testimonials {
  padding-top: 5vw;
  text-align: center;
  background-color: #EAF6FA;
  height: auto;
}


/* QUESTIONS SECTION */

#questions {
  padding: 5vh 30vh;
  height: auto;
}

.container {
  text-align: center;
}

/* BOTTOM SECTION */

#bottom {
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: #EFEFEF;
}

/* TEXT STYLING */

h1 {
  color: #0C3C2A;
  font-weight: 700;
  font-size: 3em;
}

h2, h3 {
  color: #0C3C2A;
  font-size: 1.2em;
}

/* NAVBAR STYLING */

.navbar {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: space-between;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar-sticky {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  animation: moveDown 0.5s ease-in-out;
}

.navbar-button {
  background-color: #00B04F;
  border-color: #00B04F;
  margin-left: 65vw;
}

.navbar--logo {
  width: 12em;
  margin-right: 0.5rem;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

/* scroll-down prompt animation */

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 0px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}


